VITE_SUPABASE_URL=https://mtxbvlzogagugjytauuu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_4JB2DXP_8ZN6ZDyugAA0SA_UykE1ssu
# Telefones dos admins separados por vírgula (sem formatação, só números)
VITE_ADMIN_PHONES=83999711503
